body {
  /* VARIABLES */
  --zoom-factor: 1;
  --object-width: calc((20% / var(--zoom-factor)));
  --object-height: calc((50% / var(--zoom-factor)));
  --font-size: calc((1em / var(--zoom-factor)));
  --class-padding: calc((1% / var(--zoom-factor)));

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  background-color: green;
}

.class {
  background-color: white;
  width: var(--object-width);
  /* height: var(--object-height); */
  border: 1px solid black;
  margin-bottom: 5px;
}

.class h1 {
  margin: auto;
  padding: var(--class-padding);
  font-weight: bold;
  border-bottom: 1px solid black;
}

.class p {
  margin: auto;
  padding: var(--class-padding);
}

.variables {
  margin: auto;
  padding: var(--class-padding);
  font-style: italic;
}

.methods {
  margin: auto;
  padding: var(--class-padding);
  border-bottom: 1px solid black;
}
