body {
  /* VARIABLES */
  --zoom-factor: 0.7;
  --object-min-width: calc((5em / var(--zoom-factor)));
  --object-min-height: calc((10em / var(--zoom-factor)));
  --font-size: calc((1em / var(--zoom-factor)));
  --font-size-interface-tag: calc((0.8em / var(--zoom-factor)));
  --class-padding: calc((1% / var(--zoom-factor)));
  --class-left-padding: calc((0.2em / var(--zoom-factor)));
  --class-left-heading-padding: calc((0.4em / var(--zoom-factor)));

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  background-color: #888;
}

.class,
.interface {
  position: absolute;
  background-color: rgb(255, 182, 193);
  min-width: var(--object-min-width);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

.interface {
  background-color: rgb(230, 230, 250);
}

.class h1,
.interface h1 {
  background-color: rgb(255, 240, 245);
  margin: auto;
  padding: var(--class-padding);
  padding-left: var(--class-left-padding);
  padding-right: var(--class-left-padding);
  padding: var(5%);
  font-weight: bold;
  /* border-bottom: 1px solid black; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.interface h1 {
  background-color: rgb(251, 240, 255);
}

.interface h3 {
  background-color: rgb(251, 240, 255);
  margin: auto;
  padding-left: var(--class-left-padding);
  padding-right: var(--class-left-padding);
  font-weight: lighter;
  font-style: italic;
  font-size: var(--font-size-interface-tag);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.class p,
.interface p {
  margin: auto;
  padding: var(--class-padding);
  padding-left: var(--class-left-padding);
  padding-right: var(--class-left-padding);
}

.variables,
.methods {
  margin: auto;
  padding: var(--class-padding);
  padding-left: var(--class-left-padding);
  padding-right: var(--class-left-padding);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.variables {
  /* border-bottom: 1px solid black; */
  font-style: italic;
}

.class .methods {
  background-color: rgb(255, 154, 169);
}

.interface .methods {
  background-color: rgb(200, 200, 248);
}
